@import url(https://fonts.googleapis.com/css?family=Roboto:300);

  	html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1em;
	color: #666;
}

	body {
		background:#EEE;
    	display:flex;
    	align-items:center;
    	height:90%;
	}

	.main {
      	margin:1em auto;
		text-align:center;
		transition:.5s;
	}

	.main span {
		background:#DFDCE3;
		width:75px;
		height:75px;
		display:block;
		line-height:75px;
		font-family: "Roboto", sans-serif;
		color:#a0a0a0;
		font-size:40px;
		float:left;
		transition:.5s;
		border-radius:4px;
	}

	.main:hover span:nth-child(odd) {
		transform:skewY(20deg);
		box-shadow:0 30px 20px rgba(0,0,0,.2);
		color:#fff;
		background:#FF5A09;
		width:85px;
		height:85px;
	}
	.main:hover span:nth-child(even) {
		transform:skewY(-20deg);
		box-shadow:0 30px 20px rgba(0,0,0,.2);
		color:#fff;
		background:#FF5A09;
		width:85px;
		height:85px;
	}
