/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');

/* BACKGROUND */
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #131313;
  background-image: -webkit-linear-gradient(270deg, #2a1e48 10%, #5c1654 25%, #5c162f 60%, #202020 100%);
  background-attachment: fixed;
  background-size: 100vh;
  overflow: hidden;
  z-index: -1;
}




/* HEAD */
/* RESPONSIVE NAV BAR */

.navtext {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 3em;
}

 .flex-center {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 * {
	 box-sizing: border-box;
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 300;
}
 a, a:visited, a:hover, a:active {
	 color: inherit;
	 text-decoration: none;
}
 h1 {
	 font-family: 'Quicksand', sans-serif;
	 font-weight: 400;
	 font-size: 3em;
	 text-align: center;
}
 .outer-menu {
	 position: fixed;
	 top: 2vh;
	 left: 2vh;
	 z-index: 1;
}

/* NAV BAR - HAMBURGER MENU STLE */
 .outer-menu .checkbox-toggle {
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 2;
	 cursor: pointer;
	 width: 4em;
	 height: 4em;
	 opacity: 0;
}
 .outer-menu .checkbox-toggle:checked + .hamburger > div {
	 transform: rotate(135deg);
}

/* X -> after transform, no hover */
 .outer-menu .checkbox-toggle:checked + .hamburger > div:before, .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
	 top: 0;
	 transform: rotate(90deg);
}
 .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
	 opacity: 0;
}
 .outer-menu .checkbox-toggle:checked ~ .menu {
	 pointer-events: auto;
	 visibility: visible;
}
 .outer-menu .checkbox-toggle:checked ~ .menu > div {
	 transform: scale(1);
	 transition-duration: .75s;
}
 .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
	 opacity: 1;
	 transition: opacity .4s ease .4s;
}
 .outer-menu .checkbox-toggle:hover + .hamburger {
	 box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

/* X -> on hover */
 .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
	 transform: rotate(45deg);
}
 
/* NAV BAR - HAMBURGER MENU STLE */
 .outer-menu .hamburger {
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 1;
	 width: 4em;
	 height: 4em;
	 padding: .5em 1em;
	 /* hamburger menu colour */
	 background: rgba(0,0,0,0.0);
	 border-radius: 0 .12em .12em 0;
	 cursor: pointer;
	 transition: box-shadow .4s ease;
	 backface-visibility: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

/* middle burger */
 .outer-menu .hamburger > div {
	 position: relative;
	 flex: none;
	 /* hamburger individual width in box */
	 width: 100%;
	 height: 2px;
	 /* nav bar hamburger COLOUR */
	 background: #FFFFFF;
	 transition: all .4s ease;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

/* top and bottom burger */
 .outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
	 content: '';
	 position: absolute;
	 z-index: 1;
	 top: -10px;
	 left: 0;
	 width: 100%;
	 height: 2px;
	 background: inherit;
	 transition: all .4s ease;
}
 .outer-menu .hamburger > div:after {
	 top: 10px;
}
 .outer-menu .menu {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 pointer-events: none;
	 visibility: hidden;
	 overflow: hidden;
	 backface-visibility: hidden;
	 outline: 1px solid transparent;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

/* Background (BG) of open nav bar */
 .outer-menu .menu > div {
	 width: 200vw;
	 height: 200vw;
	 color: #FEFEFE;
	 background: rgba(30,37,53,0.97);
	 border-radius: 50%;
	 transition: all .4s ease;
	 flex: none;
	 transform: scale(0);
	 backface-visibility: hidden;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .outer-menu .menu > div > div {
	 text-align: center;
	 max-width: 90vw;
	 max-height: 100vh;
	 opacity: 0;
	 transition: opacity .4s ease;
	 overflow-y: auto;
	 flex: none;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .outer-menu .menu > div > div > ul {
	 list-style: none;
	 padding: 0 1em;
	 margin: 0;
	 display: block;
	 max-height: 100vh;
}
 .outer-menu .menu > div > div > ul > li {
	 padding: 0;
	 margin: 1em;
	 font-size: 24px;
	 display: block;
}
 .outer-menu .menu > div > div > ul > li > a {
	 position: relative;
	 display: inline;
	 cursor: pointer;
	 transition: color .4s ease;
}
 .outer-menu .menu > div > div > ul > li > a:hover {
	 color: #e5e5e5;
}
 .outer-menu .menu > div > div > ul > li > a:hover:after {
	 width: 100%;
}
 .outer-menu .menu > div > div > ul > li > a:after {
	 content: '';
	 position: absolute;
	 z-index: 1;
	 bottom: -0.15em;
	 left: 0;
	 width: 0;
	 height: 2px;
	 background: #e5e5e5;
	 transition: width .4s ease;
}
 








/* BODY */
body {
    /* MOVED UP TO BACKGROUND section
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(90deg, #361368 0%, #534374 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
    */
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

::selection {
  background: transparent;
}
/* CLOUDS */
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
    200px 0 200px 150px rgba(255, 255, 255, 0.6),
    -250px 0 300px 150px rgba(255, 255, 255, 0.6),
    550px 0 300px 200px rgba(255, 255, 255, 0.6),
    -550px 0 300px 200px rgba(255, 255, 255, 0.6);
}
/* JUMP */
h1 {
  cursor: default;
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

h1 span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 3em;
  color: #fff;
  position: relative;
  /* controls bounce height */
  top: -20px;
  display: inline-block;
  -webkit-animation: bounce 0.9s ease infinite alternate;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
